

.karta {
    display: flex;
    gap: 35px;
    padding-top: 95px;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 6%;

}

@media only screen and (max-width: 565px) {
    .karta {
        display: block;
    }
  }

.img {

    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 16px -6px #222;
    
    
}

.nadpis {
    display: block;
    justify-content: center;
    text-align: center;
}

