

.hero {
    padding-top: 75px;
}



.kariera {
    padding-top: 125px;
    font-size: large;
    
    
}

.Text {
    font-size: 20px;
}

.aaa {
    background: aliceblue;
}

.mapouter {
    padding-top: 10px;
}